app = "tz-materials-api"

[build]
  dockerfile = "Dockerfile"

[env]
  DJANGO_SETTINGS_MODULE = "backend.settings"
  PYTHONUNBUFFERED = "1"

[[services]]
  internal_port = 8000
  protocol = "tcp"
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    
  [[services.http_checks]]
    path = "/health/"
    interval = "15s"
    timeout = "2s"

[deploy]
  release_command = "bash -c 'echo Waiting for Postgres... && sleep 15 && python manage.py migrate --noinput'"
